Repository Drink-Easy/backend, pull requests merged in 2024-09, with the labels that each got.

#102 :recycle: [Refactor] #88 TastingNoteController 내 MemberService 삭제
  src/main/java/com/drinkeg/drinkeg/S3/AmazonS3Manager.java
  src/main/java/com/drinkeg/drinkeg/apipayLoad/code/status/ErrorStatus.java
  src/main/java/com/drinkeg/drinkeg/config/S3Config.java
  src/main/java/com/drinkeg/drinkeg/controller/TastingNoteController.java
  src/main/java/com/drinkeg/drinkeg/service/memberService/MemberServiceImpl.java
  src/main/java/com/drinkeg/drinkeg/service/tastingNoteService/TastingNoteService.java
  src/main/java/com/drinkeg/drinkeg/service/tastingNoteService/TastingNoteServiceImpl.java
Labels: 🌐 Domain: Tasting-note

#118 #90 Refactor: 스프링 시큐리티 관련 서비스 로직 및 예외처리 리팩토링
  src/main/java/com/drinkeg/drinkeg/apipayLoad/code/status/ErrorStatus.java
  src/main/java/com/drinkeg/drinkeg/config/SecurityConfig.java
  src/main/java/com/drinkeg/drinkeg/config/SwaggerConfig.java
  src/main/java/com/drinkeg/drinkeg/controller/MemberController.java
  src/main/java/com/drinkeg/drinkeg/controller/OAuth2Controller.java
  src/main/java/com/drinkeg/drinkeg/controller/TokenController.java
  src/main/java/com/drinkeg/drinkeg/converter/MemberConverter.java
  src/main/java/com/drinkeg/drinkeg/jwt/CustomAccessDeniedHandler.java
  src/main/java/com/drinkeg/drinkeg/jwt/CustomLogoutFilter.java
  src/main/java/com/drinkeg/drinkeg/service/loginService/CustomOAuth2UserService.java
  src/main/java/com/drinkeg/drinkeg/service/loginService/CustomUserDetailsService.java
  src/main/java/com/drinkeg/drinkeg/service/loginService/JoinService.java
Labels: ♻️ Refactor

#119 #114 Feat: 와인 강의 수강 여부 CRUD API 작성
  src/main/java/com/drinkeg/drinkeg/apipayLoad/code/status/ErrorStatus.java
  src/main/java/com/drinkeg/drinkeg/controller/WineLectureCompleteController.java
  src/main/java/com/drinkeg/drinkeg/converter/WineLectureCompleteConverter.java
  src/main/java/com/drinkeg/drinkeg/converter/WineLectureConverter.java
  src/main/java/com/drinkeg/drinkeg/domain/WineLectureComplete.java
  src/main/java/com/drinkeg/drinkeg/dto/WineLectureCompleteDTO/request/WineLectureCompleteRequestDTO.java
  src/main/java/com/drinkeg/drinkeg/dto/WineLectureCompleteDTO/response/WineLectureCompleteResponseDTO.java
  src/main/java/com/drinkeg/drinkeg/repository/WineClassBookMarkRepository.java
  src/main/java/com/drinkeg/drinkeg/repository/WineLectureCompleteRepository.java
  src/main/java/com/drinkeg/drinkeg/service/WineLectureCompleteService/WineLectureCompleteService.java
  src/main/java/com/drinkeg/drinkeg/service/WineLectureCompleteService/WineLectureCompleteServiceImpl.java
Labels: ⚙️ Feat, 🌐 Domain: Class
